# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# Mac system files
.DS_Store

# Logs
*.log

# SQLite database files
*.sqlite3
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Temporary files
*.swp
*.swo
*~

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.coverage
.pytest_cache/
